@model tp02recetify_Ducatenzeiler_Chocron_Schatzyki.Models.receta
@{
    ViewData["Title"] = "Home Page";
}

<h2>Recetify - Generador de recetas </h2>

<form asp-action="GenerarReceta" method="post">
    <div>
        <label asp-for="Nombre">Nombre:</label>
        <input asp-for="Nombre" type="text" />
    </div>
    <div>
        <label asp-for="FechaNacimiento">Fecha de Nacimiento:</label>
        <input asp-for="FechaNacimiento" type="date" />
    </div>
    <div>
        <input type="radio" asp-for="TipoComida" value="Caliente" />
        <label>Caliente</label>

        <input type="radio" asp-for="TipoComida" value="Fría" />
        <label>Fría</label>
    </div>
    <div>
        <label asp-for="Presupuesto">Presupuesto (en pesos):</label>
        <input asp-for="Presupuesto" type="number" min="1" />
    </div>
     <div>
        <label asp-for="CantidadPersonas">Cantidad de Personas:</label>
        <input asp-for="CantidadPersonas" type="number" min="1" max="20" />
    </div>

    <button type="submit">Generar Receta</button>



</form>
